grpc:
  server:
    port: 59091

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
  topics:
    sensors: telemetry.sensors.v1
    hubs: telemetry.hubs.v1

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/