server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smart_home
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

grpc:
  client:
    hub-router:
      address: 'static://localhost:59090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
  topics:
    hubs: telemetry.hubs.v1
    snapshots: telemetry.snapshots.v1
  consumer:
    hub-group-id: smart-home-analyzer-hub
    snapshot-group-id: smart-home-analyzer-snapshot

logging:
  level:
    ru.yandex.practicum.smarthome.telemetry.analyzer: INFO
    org.apache.kafka: WARN
    org.hibernate: WARN

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/