server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/commerce_db
    username: commerce_user
    password: commerce_pass
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: shopping_store
    show-sql: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

logging:
  level:
    ru.smarthome.shoppingstore: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: INFO